@media screen and (max-width: 376px) {
    .main{
        width: 330px;
    }
    .password-out{
        width: 270px;
    }
    .radio-container{
        display: block;
    }
    .button{
        margin-right: 1.5rem;
    }
}