@media screen and (max-width: 376px) {
    body{
        height: 100vh;
    }
    .main{
        width: 330px;
        display: box;
        margin: 0 auto;
        margin-top: 5vh;
    }
    .password-out{
        width: 270px;
    }
    .radio-container{
        display: block;
    }
    .button{
        margin-right: 1.5rem;
    }
}
